<div class="container-fluid p-15 cookie-container slide-bottom text-left text-sm-center mx-auto" *ngIf="!CCPA_ACCEPTED">
    <app-ccpa-text></app-ccpa-text>
    <app-ccpa-button  (click)="acceptCCPA()"></app-ccpa-button>
</div>